{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Libelle</th>
				</tr>
			</thead>

			{% for module in modules %}
				<tr>
					<td>
						{{module.libelle}}
					</td>
				</tr>

			{% endfor %}
		</table>
	</div>
	<div class="d-flex justify-content-center">
		{% do modules.setPageRange(10) %}
		{{knp_pagination_render(modules,'pagination.html.twig')}}
	</div>
{% endblock %}
