<nav class="nav">
				<a class="nav-link active" href={{path('app_classe')}}>Liste des classes</a>
				<a class="nav-link" href={{path('app_module')}}>Liste des Modules</a>
				<a class="nav-link" href={{path('app_professeur')}}>Liste des profs</a>
				<button class="btn btn-danger m-3"><a href="{{path('app_logout')}}"> LOGOUT</a></button>
			</nav>