{% extends "base.html.twig" %}

{% block title %}Page non trouvée

{% block body %}
        <h1>Page non trouvee</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus nobis aut officia recusandae adipisci officiis sint in eveniet repellat ipsam vel, laboriosam iste reiciendis cum eos dolorum, dolore exercitationem soluta!</p>
        
{% endblock %}

